*{
	box-sizing: border-box;
}

body{
	font-family: arial;
 	flex-direction: column;
	margin: 0;
}

a{
	text-decoration: none;
	padding: auto;
}

header ul{
	display: flex;
}

header{
	background-color: #566c2b;
	display: flex;
	align-items: center;
	padding: 15px 0;
}



header ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.shop{
	float:left;
	color:rgb(247, 210, 0);
}

#logo{
	margin: 0 auto;
	font-size: 30px;
}

#menu li{
	padding: 10px;
}

#main{
	display: flex;
	height: 100%;
	 
}

article{
	 padding: 10px;
	 

}

aside{
	flex: 0 0 12vw;
	background-color: rgb(255, 255, 214);
	padding: 10px;
	height: 100%;

}

aside ul{
	list-style: none;
	padding: 0;
	
}

aside ul a{
	color: #566c2b;
	padding: 10px;
	display: block;
	flex-direction: column;

	border-bottom: 1px solid grey;
	
} 


footer{
	background-color: #566c2b;
	color: white;
	text-align: center;
	padding: 15px
}


/* @media screen and (max-width:1300px){
	/* aside{
	flex: 0 0 10vw;
	width: 40%;
	
	} */
	/* aside{
		flex: 0 0 8vw;
		background-color: rgb(250, 237, 237);
		padding: 0px;
		height: 100%;
	
	}
	
	aside ul{
		list-style: none;
		padding: 0;
		
	}



}

@media screen and (max-width:900px){
	header{
		flex-direction: row;
	}
	#logo{
		order: -1;
	}
	#main{
		flex-direction: column;
	}
	h2{
		text-align: center;
	}
	aside ul a{
		flex-direction: row;
		text-size-adjust: 5px
		
	} */

/* }  */

.new-submit,.edit-submit,
.service_modal,.areatype_modal,
#updata-area_btn,.sevice-submit,.updata_submit,#oldpword{
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 5px;
	background:#3c9af8;
	color: #fff;
	border:0;
	padding: 8px 30px;
	margin-left: 17px;
	border-radius: 3px;
	cursor: pointer;
	
  
  }
#modal,#editmodal,#addModal,#service_modal,#areatype_modal,
#password_modal,#printmodal{
  background: rgba(0,0,0,0.7);
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;

}
#modal-form,#editmodal-form,#service_modal-form,
#areatype_modal-form,#service-form,#printmodal-form{
  background:rgb(255, 255, 255);
  width: 350px;
  position: relative;
  top: 3%;
  left: calc(50% - 23%);
  padding: 0px;
  border-radius: 4px;
}
#password-form label{
	font-size: 16px;
	font-weight: bold;
	margin-left: 5px;
	display: block;
  }

#password-form input{
	width: 250px;
	height: 25px;
	font-size: 18px;
	margin-top: 4px;
	margin-left: 5px;
	letter-spacing: 0.8px;
	padding: 3px 10px;
	border-radius: 4px;
	border: 1px solid #000;
  }

  #password-form input:focus{
	outline: 0;
  }

  #password-form input{
	width: 250px;
	height: 25px;
	margin-top: 4px;
	margin-left: 5px;
	font-size: 18px;
	padding: 3px 10px;
	border-radius: 4px;
	border: 1px solid green;
  }

#modal-form #editmodal-form select{
  float: center;
  width: 100%;
}
#close-btn{
  background: red;
  color: white;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
}


.tab{
	margin-top: 5%;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 3%;
  	min-height: auto;
  	clear: both;
  	background: #dee6ee;
}


.add-btn{
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	color: #fff;
	background-color: rgb(70, 69, 69);
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	border: none;
	float: right;
	padding: 7px 10px;
	margin: 0 0 10px;
	vertical-align: top;
	display: inline-block;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	margin-top: 2%;
	
}

#del-btn{
	background:#e74c3c;
	color: #fff;
	border:0;
	padding: 4px 10px;
	border-radius: 3px;
	cursor: pointer;
  }
 #edit-btn{
	background: #27ae60;
	color: white;
	border: 0;
	padding: 4px 10px;
	border-radius: 3px;
	cursor: pointer;

  }
  #search{
	background-color:#dee6ee;
  }
#success-message{
  background: #DEF1D8;
  color: green;
  padding: 10px;
  margin: 10px;
  display: none;
  position: absolute;
  right: 150px;
  top: 70px;
  z-index: 100;
}
#error-message{
  background: #EFDCDD;
  color: red;
  padding: 10px;
  margin: 10px;
  display: none;
  position:absolute;
  right: 150px;
  top: 70px;
  z-index: 100;
}
#pagination{
	text-align: center;
	padding: 10px;
  }
  #pagination a{
	background: #2980b9;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding:5px 10px;
	margin-right: 5px;
	border-radius: 3px;
  }
  #pagination a.active{
	background: #27ae60;
  }
  